body {
  margin: 0;
  padding: 0;
  background-color: midnightblue;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: yellow;
  font-size: 75px;
}

button {
  font-weight: bold;
  background-color: yellow;
  color: blue;
  padding: 10px;
  border:none;
  border-radius: 5px;
}

header {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
}

main {
  padding: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

h3 {
  color: yellow;
  font-size: 15px;
  text-align: center;
  margin: 0px;
}

.grid {
  background-color: rgba(72, 58, 135);
  padding: 20px;
  border-radius: 5px;
}

.grid-canvas {
  width: 500px;
  height: 500px;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side-bar {
  display: flex;
  align-items: center;
}

.customize-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

input#grid-size {
  -webkit-appearance: none;
  background: yellow;
  height: 2px;
  border-radius: 5px;
  margin-bottom: 10px;
}

input#grid-size::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: yellow;
}

.grid-box-size {
  color: yellow;
  font-size: 15px;
}

.customize-pen {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.eraser-clear {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sketch-tools {
  background-color: rgba(72, 58, 135);
  padding: 20px;
  border-radius: 5px;
}


.clear {
  background-color: midnightblue;
  color: yellow;
  border: solid 2px yellow;
}

/* grid styles */
.grid-canvas {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  flex: 1;
  border: 0.5px solid darkgrey;
}

.color-picker {
  width: 2em;
  height: 2em;
  border: none;
  padding: 0;
}
